*{
    margin: 0;
    padding: 0;
}
.nav1{
    width: 100%;
    margin: 0 auto;
    border-bottom: 5px solid red;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 3rem;
}
.nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 3rem;
}