.fswd-main-div1{
    width: 100%;
    margin: 0 auto;
}
.fswd-main-flex-1{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.fswd-main-flex-div1{
    width: 50%;
    /* border: 1px solid red; */
    position: relative;
    height: 80vh;
}
.k1{
    position: absolute;
    bottom: 0;
    left: 0;
}
.fswd-main-icon{
    width: 15%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-left: 0;
    margin-bottom: 1rem;
}
.fswd-main-icon img{
    height: 100px;
    object-fit: cover;
}
.fswd-main-heading{

}
.fswd-main-heading button{
    margin-bottom: 1rem;
    margin-left: 5px;
}
.b1{
    margin-left: 0 !important;
}
.fswd-main-flex-div2{
    width: 50%;
    /* border: 1px solid red; */
    position: relative;
}
.flex-div2-img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.fswd-div2{
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
}
.fswd-div2-heading1{
    border: 1px solid red;
    margin-top: 1rem;
    align-items: center;
}
.fswd-div2 p{
    line-height: 2rem;
}
.fswd-list1{
    width: 95%;
    margin: 0 auto;
}
.fswd-div2-1{
    border: 1px solid red;
}
.fswd-div2-1__imgdiv{
    border: 1px solid yellow;
    margin: 9.5rem auto;
}
.fswd-div3{
    width: 90%;
    margin: 0 auto;
}
.fswd-div3-heading1{
    margin-bottom: 1rem;
}
.fswd-list-span{
    width: 35px;
}
.side-list{
    margin: 1rem;
}
.side-button{
    margin-left: 1rem !important;
    border: 1px solid blue !important;
}
.side-card-fswd{
    margin-top: 20rem;
}
.fswd-div4{
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}
.fswd-div5{
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}


